<div class="top-col">
    <div class="top-col-row">
        <div class="top-col-heading">
            <h2><%- header %></h2>
        </div>
        <div class="top-col-profile">
            <div class="top-col-profile-des">
                <h3><%- username %></h3>
                <h4><a href="/logout">Log out</a></h4>
            </div>
            <div class="top-col-profile-img">
                <img src="assets/images/profile-img.jpg" alt="" />
            </div>
        </div>
    </div>
</div>